@charset "utf-8";

.galeria{
	
	background-color: grey;
	width: 20%;
	float: left;
	margin: 2.5%;
	height: 80px;
}

.enca{
	background-color: grey;
	height: 80px;
	width: 100%;	
}



.pdos{
	
	background-color: grey;
	float: left;
	margin: 1.4%;
	height: 140px;
	width: 30%;
}

.recuadro{
	height:700px;
}

.footer{
	background-color: grey;
		height: 50px;
	width: 100%;
}








